:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: var(--menu-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--menu-text);;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-base);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg);
  border: none;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--btn-hover-bg);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: var(--btn-bg-disable);
}

.button-toggle {
  background-color: var(--btn-toggle-bg);
  border: 1px solid var(--btn-toggle-border);
  color: var(--btn-toggle-text);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color var(--transition-duration), border-color var(--transition-duration);
  border-radius: 6px;
}

.button-toggle:hover {
  background-color: var(--btn-toggle-hover-bg);
  border-color: var(--btn-toggle-hover-border);
}

.button-toggle.selected {
  background-color: var(--btn-toggle-selected-bg);
  border-color: var(--btn-toggle-selected-border);
  color: var(--btn-toggle-selected-text);
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}
